.hero {
	max-width: 100rem;
	display: grid;
	grid-template-rows: 30rem 7rem 1fr;
	height: 100vh;
	padding-inline: 2rem;
}

.luna {
	justify-self: center;
	align-self: center;
}

.hero__title {
	font-size: 4rem;
	text-transform: uppercase;
	color: white;
	text-align: center;
	align-self: center;
}

.buttons {
	display: flex;
	gap: .8rem;
	justify-content: space-between;
	align-items: center;
}

.btn {
	background-color: #fff;
	border: .4rem solid black;
	padding: .8rem;
	font-size: 1.8rem;
	font-weight: bold;
	color: #000;
	text-decoration: none;
}