.admin__wrapper {
	background-color: #ffffff25;
	padding: 2rem;
	margin:2rem
}

.admin__create {
	background-color: #142e4c ;
	padding: 2rem;
	display: grid;
}

.admin__title {
	color: #fff;
	text-align: center;
	font-size: 1.8rem;
	margin-block-end: 2rem;
}


.form__title {
	color: #fff;
	text-transform: uppercase;
}

.form__section {
	display: block;
	margin-block-end: 2rem;
}

.form__input-default {
	padding: .4rem;
	font-size: 1.8rem;
	font-weight: bold;
	width: 100%;
	border-radius: .5rem;
	border: 3px solid #0c1c2e;
}

.form__textarea {
	padding: .4rem;
	border:3px solid #0c1c2e;
	border-radius: .5rem;
	width: 100%;
	height:5rem;
	resize: none;
}

.btn--create {
	background-color: #efefef;
	padding: .8rem;
	border: none;
	border-radius: .5rem;
	font-weight: bold;
}

.preview__candy {
	margin-block-start: 2rem;
	width: 100%;
	height: 20rem;
	background-color: #fff;
	border-radius: .5rem;
	border: 3px solid #0c1c2e;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-block: 4rem;
}

.btn--create.link {
	display: inline-block;
	margin-block-start: 2rem;
	text-decoration: none;
	color: #000;
	justify-self: center;
}

.preview__candy svg {
	/* width: 100%; */
	height: 90%;
}

.msg {
	position: fixed;
	background-color: rgb(54, 211, 54);
	font-weight: bold;
	right: 10px;
	padding: 1rem;
}

@media (min-width: 768px) {
	.admin__create {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto 1fr auto;
	}
	.admin__title {
		grid-column: 1/3;
		font-size: 4rem;
	}

	.form__title {
		font-size: 2rem;
	}

	.form__input-default {
		padding:2rem
	}
	.btn--create.link {
		grid-row: 3/4;
		grid-column: 1/3;

	}

	.admin__form {
		width: 80%;
	}
}